.headerContainer {
    width: 100%;
    height: 95vh;
    background-image: url('../assets//images/ContainerBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -1%;
}